@model List<MVC_CodeFirst.ViewModels.CustomerVM>
@{
    ViewBag.Title = "Index";
}
<p>@Html.ActionLink("Ekle", "AddCustomer")</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


        <tr>
            <th scope="row">@item.id</th>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>
                @Html.ActionLink("Güncelle", "UpdateCustomer", new { ID = item.id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Sil", "DeleteCustomer", new { ID = item.id }, new { @class = "btn btn-danger" })
            </td>
         
        </tr>
        }
    </tbody>
</table>

